/* Variables */ 
$bg-color:#bdc3c7;
$navbar-bg: darken(#414850, 10%);
$main-color: #414850;
$daycell-bg: #74b9ff;

@import './components/layout/navbar.scss';
@import './components/layout/homepage.scss';
@import './components/auth/auth.scss';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


/* Global */

* {
  font-family: 'Nunito', sans-serif;
}
body {
  margin: 0;
	background-color: $bg-color;


}

input {
  font-family: 'Quicksand', sans-serif;
}



.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
  background-color: rgba(0,0,0,0.4)!important;
}


.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  width: 40%;
  height: auto;
  background: white;
  color: black;
  padding: 1.5em;
  outline: none;
  border-radius: 5px;



  .form-container{
    display: flex;
    flex-direction: column;
    
    h3{
      margin-top: 0;
      border-bottom: 1px solid black;
      font-size: 25px;
    }

    .form-input{
      margin: 10px 5px;
      width: 100%;
      height: 100%;
      
      input{
        width: 60%;
        float: right;
        height: 20px;
        padding: 5px 3px;
        border: 1px solid black;
        border-radius: 5px;
      }
      label{
        font-size: 19px;
      }
    }

    

    
  }
} 

.button{
  margin: 10px 5px;

  margin-top:35px;

  background: black;
  border: 0;
  color: white;

  align-self: flex-end;
  padding: 10px 20px;
  border-radius: 5px;

  outline: none;
  
}

.container{
  @media (min-width: 768px) {
    width: 85%;
    float: right;
}
}