.task-card{
    max-width: 290px;
    margin: 0 auto;
    min-width: 250px;
    position: relative;
    text-align: left;
    cursor: pointer;
}
.media{
    height:140px;
}
.MuiSvgIcon-root{
    height:0.8em!important;
}
.aditional{
    font-size: 10px!important;
}

.task-header{
    display: flex;
    justify-content: space-between;
}

.status{
    color: white;
    background-color: red;
    border-radius: 10px;
    padding: 2px 10px;
}

.deadline{

}

.date{
    font-size: 10px!important;
}